@import "./scrollbar";

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

[data-no-padding=true] {
  padding: 0;
}

html, body {
  padding: 0;
  margin: 0;
}
