.auto-table-cell-index {
  min-width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  display: inline-block;
  font-size: 12px;
  border-radius: 4px;
  transition: all ease 300ms;
}
